!!!
html
  head
    block title
    block scripts
    include include/header
  body

    .navbar
      .navbar-inner
        if user
          a.brand(href='/', style='margin-left: 3px;')
            i.icon-home
            span


          block menu
          ul.nav
             li.dropdown
               a.dropdown-toggle('data-toggle'="dropdown",href="#") Admin
                 b.caret
               ul.dropdown-menu
                if admin
                  li: a(href="/admin") Users
                if user
                  li: a(href='/posts/table_view') Table View
                  li: a(href="/logout") Logout

    div(class="container")
      block content

  script
    $(".dropdown-toggle").dropdown();
