table.table.table-bordered
  thead
    tr
      each type in types
        th= type
  tbody
    each row in rows
      tr
        each posto in row
          td(scope='row', class='postcolumn')
            if posto
              .well
                dl
                  dt #{posto.user}
                  dd
                    p= posto.text
                if posto.likes.length
                  span Liked by #{posto.likes.join(", ")}