.well
  dl
    dt #{posto.user}
    dd
      p= posto.text
  if user.email !== posto.user
    a.btn.btn-mini(href='/post/like/#{posto._id}')
      i.icon-thumbs-up
      span Like
  if posto.likes.length
    span Liked by #{posto.likes.join(", ")}