extends base

block title
  title New Session


block content
  h2 Add a session
  form(action='/session/new', method='post')
    include include/session_fields.jade
    input.btn.btn-primary(type='submit', value='Add')